#specialty{
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 2rem 2rem;
    min-height: calc(100vh - 90px);
    background-color: #efedfa;
    border-top: 1px solid ;
    border-bottom: 1px solid ;
}
.specialties{
    position: relative;
    margin-bottom: 1rem;
    
}

.specialties h3{
    border: 2px solid var(--primary-lilas);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 1.5rem;
}

.specialties img{
        position: absolute;
        top: 2rem;
        right: 1.5rem;
}

.specialties p{
    background-color:#004bad25;
    border-right: 1px solid #d6dd94;
    border-bottom:  1px solid #d6dd94;
    border-left:  1px solid #d6dd94;
    border-radius: 0 0 8px 8px;
    margin-top: -2px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 1s;
    font-size: 1.1rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

.specialties.ativa p{
    height: fit-content;
    opacity: 1;
    padding: 1.5rem;
}

@media (max-width: 998px){
    #specialty{
        padding: 1rem .5rem;
        
    }
    .specialties h3{
        padding: 1rem 2rem 1rem 0.5rem;
        font-size: 1rem;
        
    }
    .specialties p{
        font-size: .9rem;
        line-height: 1.5rem;
        letter-spacing: 0.1rem;
        font-weight: 600;
    }
}
